@{
    ViewData["Title"] = "Liste de tous les articles";
    @model List<STIVE_WEB.Models.Articles.Article>;
    @using Microsoft.AspNetCore.Http;
}

<partial name="/Views/Shared/_Header.cshtml" />
<section id="section-articles">
    <h1>Notre sélection de vins</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem; background-color: #F0F0F0;">
                <div class="card-body">
                    <strong class="card-title">@item.Name</strong>
                    <br />
                    <span>Année : @item.Annee.Number</span>
                    <br />
                    <span>Contenance : @item.Capacity.BottleCapacity cl</span>
                    <br />
                    <strong style="color: #7b0405;">@item.UnitPrice €</strong>
                    <br />
                    <p class="card-text">@item.Description</p>
                    <br />
                    <a asp-controller="article" asp-action="AddToCart" asp-route-id="@item.Id" class="btn" style="background-color: #7b0405; color: white;">Ajouter au panier</a>
                </div>
            </div>
        }
    </div>
</section>
